
task1_Sum/Debug/task1_Sum.exe.recipe
.vs/task1_Sum/v16/.suo
.vs/task1_Sum/v16/Browse.VC.db
.vs/task1_Sum/v16/Browse.VC.db-shm
.vs/task1_Sum/v16/Browse.VC.db-wal
.vs/task1_Sum/v16/Browse.VC.opendb
.vs/task1_Sum/v16/ipch/AutoPCH/86b9e29356bdd145/SOURCE.ipch
.vs/task1_Sum/v16/ipch/AutoPCH/9ab0b209865de8df/SOURCE.ipch
task1_Sum/Debug/task1_Sum.log
task1_Sum/Debug/task1_Sum.vcxproj.FileListAbsolute.txt
task1_Sum/Release/task1_Sum.log
task1_Sum/Release/task1_Sum.vcxproj.FileListAbsolute.txt
task1_Sum/task1_Sum.vcxproj.user
task1_Sum/Debug/task1_Sum.Build.CppClean.log
task1_Sum/Release/task1_Sum.Build.CppClean.log
